<!DOCTYPE html>
<html>
    <head>
        <title>Learn HTML</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <div style="color:red">
            <div>
                One more div
                <p>Grandchild</p>
            </div>
            <p>This is text inside paragraph</p>
            <p>Second paragraph</p>
            <div style="color:green">Inside div
                <p style="color:black;">Inside paragraph</p>
            </div>
            <a href="https://google.com" target="_blank">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLYBNw1tq_0NytHxQeBtjueQ0M0SA7LxCryYTgqaNjsqFYRbmoVsP6mezfd2U2XqNHi24&usqp=CAU">
            </a>
        </div>
    </body>
</html>